.centered-text  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twocol {
  display: flex;
}

#e, #f, #g, #h {
  flex: 50%;
  max-width: 250px;
  height:240px;
}



@media only screen and (max-width:768px){

}